*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    max-width: 1920px;
    display: block;
    margin: 0 auto;
    font-family: Roboto , sans-serif;
    
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    min-height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    min-width: 1140px;
    padding: 39px 0 62px 0;
}
.header .logo{
    display: block;
    position: relative;
    margin: 0 auto;
}
.header .img_descr{
    color: #ffffff;
    margin-top: 14px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.header .title{
    margin-top: 53px;
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.header .sub-title:nth-of-type(1){
    margin-top: 21px;
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.header .sub-title:nth-of-type(2){
    margin-top: 30px;
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.header .text-one{
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    font-weight: 300;
    line-height: 28px;
    
}
.header .text-one span{
    color: #f9bf3b;
    font-weight: 700;
}
.header .btn, .present .btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1%;
    outline: rgba(32, 31, 31, 0.55) solid 2px;
}
.present .btn{
    margin-top: 80px;
}
.header .text-two{
    margin-top: 73px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.header .arrow{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    min-width: 1140px;
    padding: 85px 0 75px 0;
}
.waiting h2{
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.waiting .line, .finish .line{
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.waiting h3{
    margin-top: 17px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.waiting .wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.waiting .wrapper .waiting-text{
    max-width: 354px;
    margin-top: 33px;
    order: 1;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
}
.waiting .wrapper .wrapper-item .waiting-img{
    width: 100%;
}
.explanation{
    position: relative;
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.explanation .women{
    width: 45%;
    height: 91%;
    position: absolute;
    bottom: 0vh;
    left: 5vw;
    z-index: -1;

}
.explanation h2{
    /* max-width: 750px; */
    margin-left: 389px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}
.explanation .text{
    /* max-width: 750px; */
    margin-top: 25px;
    margin-left: 389px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    text-align: justifyLeft;


}
.explanation .text span{
    font-weight: 700;

}
.finish{
    min-height: 447px;
    background: url("../img/bg/second_bg.jpg") center center/cover no-repeat;
    min-width: 1140px;
    padding: 86px 0 79px 0;
}
.finish h2{
    color: #efefef;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.finish .wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-around;
}
.finish .wrapper .wrapper-item .round{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #b4e2ff;
    border-radius: 100%;
    width: 115px;
    height: 115px;
    margin: 0 auto;
}
.finish .wrapper .wrapper-item .text{
    margin-top: 25px;
    max-width: 204px;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    
}



.present{
    min-height: 628px;
    background-color: #efefef;
    min-width: 1140px;
    padding: 86px 0 87px 0;
}
.present .gift{
    display: block;
    margin: 0 auto;    
}

.present .text{
    margin-top: 42px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-align: center;
}
.webiner{
    min-height: 515px;
    min-width: 1140px;
    padding: 89px 0 64px 0;
}
.webiner .img-webiner{
    display: block;
    margin: 0 auto;
}
.webiner h3{
    margin-top: 37px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.webiner h4{
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.webiner .text{
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;   
    text-align: center;
}
.footer{
    min-height: 166px;
    background-color: #1a1a1a;
    min-width: 1140px;
    padding: 61px 0 69px 0;
}
.footer .link{
    display: flex;
    justify-content: center;
}
.footer .link div{
    margin: 0 5px;
}
.footer a , .footer .link{
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-decoration: underline;
}
.footer .telepone{
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
}